h2
  display: inline-block
button.clear
  margin-left: 10px
  font-size: 1em
  font-family: Arial
  background-color: #eee
  border: none
  padding: 5px 10px
  border-radius: 4px
  cursor: pointer
  cursor: hand
  &:hover
    background-color: #cfd8dc
  &:disabled
    background-color: #eee
    color: #ccc
    cursor: auto